.button-group {
  display: flex;
  flex-direction: row;
}
button {
  margin: 1rem 1rem 0 0;
}

input {
  padding: .5rem;
  margin-left: .5rem;
}

.alert {
  color: red;
  font-style: italic;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/